
#EXTM3U

#EXTINF:-1, [COLOR GREEN]BRASIL TV HD[/COLOR]


#EXTINF:-1 tvg-logo="tse2.mm.bing.net/th?id=OIP.M66150e86f17127041f6e1d7c298c3911o0&pid=15.1" group-title="",GLOBO 1 SP HD
http://g.live.com/1rewlive5skydrive/ODSUProduction



#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M66150e86f17127041f6e1d7c298c3911o0&pid=15.1" group-title="",GLOBO 2 SP HD
http://178.62.95.238:8008/canais/loadbalancer?canal_pk=11618&server_location=UK&username=sidneybraz&password=8F19A0



#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M66150e86f17127041f6e1d7c298c3911o0&pid=15.1" group-title="",GLOBO 3 SP HD
http://5.1.69.189:8081/input3/uk15/playlist.m3u8


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M66150e86f17127041f6e1d7c298c3911o0&pid=15.1" group-title="",GLOBO 4 SP HD
http://46.101.64.93:8081/238/uk15/index.m3u8


#EXTINF:-1 tvg-logo="http://3.bp.blogspot.com/--hxei0muPuM/TgDRolVw71I/AAAAAAAAAE0/AnY-tW6mvOs/s1600/Logo+Globo+Minas.jpg" group-title="",GLOBO MG HD
http://5.1.69.189:8081/pxpath2/411_.m3u8


#EXTINF:-1 tvg-logo="http://famososnaweb.com/wp-content/uploads/2015/03/globo-rio.png" group-title="",GLOBO RJ HD
http://46.101.64.93:8081/pxpath2/370_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/pt/e/e1/Globo_News_2010.png" group-title="",GLOBO NEWS
http://46.101.64.93:8081/ca/canal6/playlist.m3u8


#EXTINF:-1 tvg-logo="http://3.bp.blogspot.com/-ezSrk6eKls0/TbRH9FmVjhI/AAAAAAAACkw/o8xxem4UhVg/s640/Logo+rpc+-+HDTV.png" group-title="",RECORD HD
http://178.62.95.238:8008/canais/loadbalancer?canal_pk=50&server_location=UK&username=sidneybraz&password=8F19A0



#EXTINF:-1 tvg-logo="http://i1.r7.com/data/files/2C95/948F/35B7/7306/0135/BC63/3B30/08E3/record_700x525.jpg" group-title="",RECORD HD
http://178.62.95.238:8008/canais/loadbalancer?canal_pk=11620&server_location=UK&username=sidneybraz&password=8F19A0


#EXTINF:-1 tvg-logo="http://i1.r7.com/data/files/2C95/948F/35B7/7306/0135/BC63/3B30/08E3/record_700x525.jpg" group-title="",RECORD
http://178.62.95.238:8008/canais/loadbalancer?canal_pk=4&server_location=UK&username=sidneybraz&password=8F19A0



#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-xxp4UGp2COk/Tx2cQcWA38I/AAAAAAAAU2c/cHW90lL_rhU/s400/mundonovelas_record_news11.jpg" group-title="",RECORD NEWS 
http://5.1.69.189:8081/pxpath2/133_.m3u8


#EXTINF:-1 tvg-logo="https://tse1.mm.bing.net/th?id=OIP.Mae1fb702991ae41823a0d6af263ff681o0&pid=15.1" group-title="",SBT HD 
http://46.101.64.93:8081/pxpath2/308_.m3u8


#EXTINF:-1 tvg-logo="https://tse1.mm.bing.net/th?id=OIP.Mae1fb702991ae41823a0d6af263ff681o0&pid=15.1" group-title="",SBT HD 
http://46.101.64.93:8081/238/usa3/index.m3u8


#EXTINF:-1 tvg-logo="https://logodownload.org/wp-content/uploads/2013/12/sbt-logo.png" group-title="",SBT SD 
http://5.1.69.189:8081/pxpath2/161_.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-ij0LKunNKmA/U4Aa-mm1IcI/AAAAAAAAAlQ/YxlamNPXadY/s1600/vQPkH.png" group-title="",BAND HD 
http://46.101.64.93:8081/input3/usa2/playlist.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-ij0LKunNKmA/U4Aa-mm1IcI/AAAAAAAAAlQ/YxlamNPXadY/s1600/vQPkH.png" group-title="",BAND HD 
http://46.101.64.93:8081/input3/usa2/playlist.m3u8


#EXTINF:-1 tvg-logo="http://4.bp.blogspot.com/-xxnQe1WqFN8/Uz2bssvGGjI/AAAAAAAAh8M/XgjA9pr7oAQ/s1600/BandSports+HD_Logotipo.png" group-title="",BAND SPORTS
http://46.101.64.93:8081/pxpath2/448_.m3u8


#EXTINF:-1 tvg-logo="https://tse1.mm.bing.net/th?id=OIP.Mb5c8ce6abdac53458aff781e86630c6co0&pid=15.1" group-title="",RED TV HD 
http://46.101.64.93:8081/input3/band/playlist.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-r8c-m6BjsR4/UBGaHopekpI/AAAAAAAACnE/UMUj_WIZQQw/s1600/espn_brasil_hd.jpg" group-title="",ESPN BRASIL HD 
http://46.101.64.93:8081/input3/br95/playlist.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-r8c-m6BjsR4/UBGaHopekpI/AAAAAAAACnE/UMUj_WIZQQw/s1600/espn_brasil_hd.jpg" group-title="",ESPN BRASIL HD 
http://5.1.69.189:8081/pxpath2/442_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/5/56/SporTV_logo_2011.png" group-title="",SPORT TV HD 
http://5.1.69.189:8081/input3/br101/playlist.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/5/56/SporTV_logo_2011.png" group-title="",SPORT TV HD 
http://5.1.69.189:8081/238/br101/index.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/5/56/SporTV_logo_2011.png" group-title="",SPORT TV HD
http://5.1.69.189:8081/238/br101/index.m3u8


#EXTINF:-1 tvg-logo="https://tse3.mm.bing.net/th?id=OIP.Mef1d933e714354c8df51de6c63af6ea1o0&pid=15.1" group-title="", PREMIERE COMBATE HD 
http://5.1.69.189:8081/pxpath2/14_.m3u8


#EXTINF:-1 tvg-logo="https://tse3.mm.bing.net/th?id=OIP.Mef1d933e714354c8df51de6c63af6ea1o0&pid=15.1" group-title="",PREMIERE COMBATE HD
http://5.1.69.189:8081/input3/br103/playlist.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-F5S7jO1IWqI/TelJeU62KRI/AAAAAAAAAiE/SmbD-yhIFhw/s320/mma-logo.jpg" group-title="",THE FIGHT HD(ENG) 
http://46.101.64.93:8081/pxpath2/312_.m3u8


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M5c505e36859f936483a675ccba45d50ao0&pid=15.1" group-title="",FOX SPORT HD
http://46.101.64.93:8081/input3/br102/playlist.m3u8


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M5c505e36859f936483a675ccba45d50ao0&pid=15.1" group-title="",FOX SPORT HD 
http://46.101.64.93:8081/238/br102/index.m3u8


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M5c505e36859f936483a675ccba45d50ao0&pid=15.1" group-title="",FOX SPORT HD 
http://46.101.64.93:8081/238/br102/index.m3u8


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-ScvUsbjRddM/T8gu5sJqOqI/AAAAAAAAABM/qgnhdglH_RI/s1600/Premiere_FC_logo.png" group-title="",PFC PREMIER
http://5.1.69.189:8081/pxpath2/369_.m3u8


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-ScvUsbjRddM/T8gu5sJqOqI/AAAAAAAAABM/qgnhdglH_RI/s1600/Premiere_FC_logo.png" group-title="",PFC PREMIER
http://5.1.69.189:8081/pxpath2/444_.m3u8


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-ScvUsbjRddM/T8gu5sJqOqI/AAAAAAAAABM/qgnhdglH_RI/s1600/Premiere_FC_logo.png" group-title="",PFC PREMIER 
http://5.1.69.189:8081/pxpath2/446_.m3u8


#EXTINF:-1 tvg-logo="https://handeboltaubate.files.wordpress.com/2013/11/esporte-interativo.jpg" group-title="",ESPORTE INTERATIVO 
http://46.101.64.93:8081/pxpath2/3_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/5/55/Multishow_logo-laranja.png" group-title="",MULTSHOW 
http://104.131.185.166:8009/canais/lls/playlist.m3u8?canal_id=v104&ip=46.101.64.93


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/3/3d/HBO_Plus.png" group-title="",HBO PLUS 
http://5.1.69.189:8081/input3/usa8/playlist.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/3/3d/HBO_Plus.png" group-title="",HBO PLUS 1
http://5.1.69.189:8081/238/usa8/index.m3u8


#EXTINF:-1 tvg-logo="http://tvonlinegratis1.com/wp-content/uploads/2014/01/identidade_telecine_2010_241.jpg" group-title="",TC PREMIUM 
http://46.101.64.93:8081/input3/usa7/playlist.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/c/cd/Historia_logo.jpg" group-title="",HISTORIA 
http://46.101.64.93:8081/pxpath2/326_.m3u8


#EXTINF:-1 tvg-logo="http://garrytutte.com/wp-content/uploads/2013/04/Discovery_Channel_logo.800w_600h.jpg" group-title="",DISCOVERY CHANNEL
http://5.1.69.189:8081/pxpath2/74_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/Discovery_Turbo.svg/1024px-Discovery_Turbo.svg.png" group-title="",DISCORVERY TURBO
http://5.1.69.189:8081/pxpath2/290_.m3u8


#EXTINF:-1 tvg-logo="http://www.itscom.jp/jpreleasefiledir/Image/fy2013/HDnewCH/FOXMOVIES_HD_LOGO_WHITE.jpg" group-title="",FOX MOVIES PREMIUM
http://5.1.69.189:8081/pxpath2/119_.m3u8


#EXTINF:-1 tvg-logo="http://www.mm-eu.tv/wordpress/wp-content/uploads/2015/08/fox-comedy_thumb1.jpg" group-title="",FOX COMEDY
http://5.1.69.189:8081/pxpath2/101_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/FOX_HD.svg/774px-FOX_HD.svg.png" group-title="",FOX HD
http://5.1.69.189:8081/pxpath2/324_.m3u8


#EXTINF:-1 tvg-logo="http://www.chicadelatele.com/wp-content/uploads/2010/01/Fox-Crime.jpg" group-title="",FOX CRIME HD
http://46.101.64.93:8081/pxpath2/323_.m3u8


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-2Z5vNN48Ivk/T1Fri2N3MVI/AAAAAAAAB2k/vGWJER16snA/s1600/FOX+Life+HD+logo.png" group-title="",FOX LIFE HD
http://46.101.64.93:8081/pxpath2/86_.m3u8


#EXTINF:-1 tvg-logo="http://blog.cablevision.net.mx/wp-content/uploads/2011/09/AXN-HD-blanco.jpg" group-title="",AXN HD
http://5.1.69.189:8081/pxpath2/331_.m3u8



#EXTINF:-1 tvg-logo="http://todotele.com/wp-content/uploads/2014/05/Logo-AXN-WHITE-HD.jpg" group-title="",AXN WHITE HD
http://5.1.69.189:8081/pxpath2/329_.m3u8


#EXTINF:-1 tvg-logo="http://4.bp.blogspot.com/-_rpBM2rwD9o/TeOWYe-_InI/AAAAAAAAATQ/y0ECr2jAIKY/s1600/AXN+Black+HD+logo+peq.png" group-title="",AXN BLACK HD
http://5.1.69.189:8081/pxpath2/330_.m3u8


#EXTINF:-1 tvg-logo="http://logonoid.com/images/a-and-e-logo.png
" group-title="",A&E
http://5.1.69.189:8081/pxpath2/65_.m3u8


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-hTCizqOYuq8/Tr__CIgNUKI/AAAAAAAAsYw/oEmjWI7A-Fg/s1600/National_Geographic_Logo.jpg" group-title="",NATIONAL GEOGRAPHIC
http://45.55.126.18:8081/pxpath2/84_.m3u8


#EXTINF:-1 tvg-logo="http://1.bp.blogspot.com/-Zph_8NPFzLs/Tr__YrcIDQI/AAAAAAAAscA/EdCO8qYKDcI/s1600/National_Geographic_Logo27.jpg" group-title="",NAT GEO WILD
http://89.163.220.165:5001/Addon/404.mp4


#EXTINF:-1 tvg-logo="https://pmcdeadline2.files.wordpress.com/2014/02/syfy56__140225004014.jpg" group-title="",SYFY
http://89.163.220.165:5001/Addon/404.mp4


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.Mdacafe40209432d5616a48815748a50ao0&pid=15.1" group-title="",TV CINE 1HD
http://45.55.126.18:8081/pxpath2/8_.m3u8


#EXTINF:-1 tvg-logo="http://4.bp.blogspot.com/-aVnZe1sEWd4/TePLRKuaA8I/AAAAAAAAATo/E2c2KPKxz9g/s1600/TVC+2+HD+logo+peq.png" group-title="",TV CINE 2HD
http://45.55.126.18:8081/pxpath2/439_.m3u8


#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M94c237125540a77ca11e83fd5f9de3d3o0&pid=15.1" group-title="",TV CINE 3HD
http://45.55.44.31:8081/pxpath2/323_.m3u8



#EXTINF:-1 tvg-logo="https://tse2.mm.bing.net/th?id=OIP.M904ef142706cb16dcc7449af070b715do0&pid=15.1" group-title="",TV CINE 4HD
http://45.55.126.18:8081/pxpath2/438_.m3u8


#EXTINF:-1 tvg-logo="https://tse3.mm.bing.net/th?id=OIP.Ma69384f7725c5f2e147b491a9cf46215H0&pid=15.1" group-title="",TV SERIES HD
http://45.55.126.18:8081/pxpath2/440_.m3u8


#EXTINF:-1 tvg-logo="https://tse1.mm.bing.net/th?id=OIP.Md12aecb0bfaf5f3735cd6feba0706a0eH0&pid=15.1" group-title="",DISCOVERY KIDS HD
http://45.55.126.18:8081/input3/usa21/playlist.m3u8


#EXTINF:-1 tvg-logo="https://tse1.mm.bing.net/th?id=OIP.Md12aecb0bfaf5f3735cd6feba0706a0eH0&pid=15.1" group-title="",DISCOVERY KIDS 1HD
http://45.55.126.18:8081/238/usa21/index.m3u8


#EXTINF:-1 tvg-logo="http://orig13.deviantart.net/3f2c/f/2012/182/7/8/cartoon_network_logo__2004__by_miggygarcia-d55jykl.png" group-title="",CARTOON NETWORK
http://45.55.126.18:8081/pxpath2/14_.m3u8


#EXTINF:-1 tvg-logo="https://indiedigitalmusicdistribution.files.wordpress.com/2011/03/vevo_logo.png" group-title="",VEVO 1HD
http://live.tvplayerlatino.com/lista_remota/src4/TnzyN.m3u8


#EXTINF:-1 tvg-logo="https://indiedigitalmusicdistribution.files.wordpress.com/2011/03/vevo_logo.png" group-title="",VEVO 2HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch2/06/prog_index.m3u8


#EXTINF:-1 tvg-logo="https://indiedigitalmusicdistribution.files.wordpress.com/2011/03/vevo_logo.png" group-title="",VEVO 3HD
http://vevoplaylist-live.hls.adaptive.level3.net/vevo/ch3/06/prog_index.m3u8


#EXTINF:-1 tvg-logo="http://farm3.staticflickr.com/2426/3898363029_66aa7aa137.jpg" group-title="",MTV
http://45.55.44.31:8081/pxpath2/436_.m3u8


#EXTINF:-1 tvg-logo="https://tse3.mm.bing.net/th?id=OIP.M1c414d7e50328cff6530a6bada93f9e0o0&pid=15.1" group-title="",1HD MUSIC
http://89.163.220.165:5001/Addon/404.mp4


#EXTINF:-1 tvg-logo="http://2.bp.blogspot.com/-rPjt1d6U0EU/T8bMWMDb0EI/AAAAAAAAAig/4PW5abMYDfo/s1600/tv+aparecida+hd.jpg" group-title="",TV APARECIDA
http://45.55.126.18:8081/pxpath2/160_.m3u8


#EXTINF:-1 tvg-logo="http://4.bp.blogspot.com/-gN5iKnE9hGc/T0zGGlvDFMI/AAAAAAAAAec/DiqcsneSf10/s1600/cultura-rgb.jpg" group-title="",TV CULTURA HD
http://45.55.44.31:8081/pxpath2/197_.m3u8


#EXTINF:-1 tvg-logo="https://upload.wikimedia.org/wikipedia/commons/3/31/TV_Brasil_logo.png" group-title="",TV BRASIL HD
http://45.55.44.31:8081/br_fr/tvbrasil/playlist.m3u8


#EXTINF:-1 tvg-logo="http://3.bp.blogspot.com/-bKaGPzHjo_4/T_Lxx5e2vgI/AAAAAAAAAMo/mQ2TRVW2jgg/s600/V__GC_imagens_logo.png" group-title="",CANCAO NOVA
http://45.55.126.18:8081/pxpath2/230_.m3u8
